<header class="masthead">
  <div class="container">
    <span class="icon">✌</span>
    <h1>{{ site.name }}</h1>
    <p class="lead">我们经常会碰上一些 HTML 和 CSS 中的坑，下面这个就是一些常见坑的列表，花点时间阅读一下可以帮助你在今后的编程路上少踩一些坑。</p>
    <p class="lead">原作者： <a href="{{ site.twitter }}">@mdo</a></p>
    <p class="lead">译&nbsp;&nbsp;&nbsp;&nbsp;者：<a href="{{ site.translator }}">@公子</a></p>

    <p class="masthead-links">
      <a href="{{ site.repo }}">
        <span class="icon icon-github-circled"></span>
      </a>
      <a href="{{ site.twitter }}">
        <span class="icon icon-twitter"></span>
      </a>
    </p>
  </div>
</header>
